<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <figure class="image logo">
        <img src="/assets/logo-yellow.svg">
      </figure>
      <h2 class="subtitle">
        The Star Wars saga movies application
      </h2>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<movie-details></movie-details>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <i class="fa fa-heart love"></i> and <i class="fa fa-coffee"></i>
      </p>
    </div>
  </div>
</footer>